<!-- UserManagement -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="row">
      <!-- SideBar -->
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 sideBar">
        <div>
          <div class="heading">Quản lý website</div>
          <div class="py-2 pl-2">
            <div class="pb-2 cursor-pointer">Quản lý danh mục</div>
            <div class="pb-2 cursor-pointer">Quản lý tag</div>
            <div class="pb-2 cursor-pointer">Quản lý bài viết</div>
          </div>
        </div>
        <div>
          <div class="heading">Quản lý người dùng</div>
          <div class="py-2 pl-2">
            <div class="pb-2 cursor-pointer select">Người dùng</div>
          </div>
        </div>
      </div>
      <!-- Add categiry managemet Section -->
      <div class="col-12 col-sm-12 col-md-9 col-lg-9">
        <div>
          <div class="text-black mb-3">Tìm kiếm người dùng:</div>
          <div class="input-group" style="width: 100%; max-width: 300px">
            <input
              type="text"
              class="form-control border-0"
              placeholder="Từ khóa"
            />
            <div class="input-group-append">
              <button
                class="input-group-text bg-primary text-dark border-0 px-3"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <table class="table-custom table mt-3">
          <thead>
            <tr>
              <th class="text-black">ID</th>
              <th class="text-black">Ảnh</th>
              <th class="text-black">Tên</th>
              <th class="text-black">Email</th>
              <th class="text-black">Số điện thoại</th>
              <th class="text-black">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <img src="./img/news-110x110-1.jpg" alt="User Image" />
              </td>
              <td>Nguyễn Văn A</td>
              <td>nguyenvana@example.com</td>
              <td>0901234567</td>
              <td class="action-buttons">
                <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                <button class="btn btn-sm btn-danger">Xóa</button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>
                <img src="./img/news-110x110-2.jpg" alt="User Image" />
              </td>
              <td>Trần Thị B</td>
              <td>tranthib@example.com</td>
              <td>0987654321</td>
              <td class="action-buttons">
                <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                <button class="btn btn-sm btn-danger">Xóa</button>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>
                <img src="./img/news-110x110-3.jpg" alt="User Image" />
              </td>
              <td>Lê Văn C</td>
              <td>levanc@example.com</td>
              <td>0912345678</td>
              <td class="action-buttons">
                <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                <button class="btn btn-sm btn-danger">Xóa</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
