<!-- CategiryManagement -->
<div class="container-fluid pt-5">
  <div class="container">
    <div class="row">
      <!-- SideBar -->
      <div class="col-12 col-sm-12 col-md-3 col-lg-3 sideBar">
        <div>
          <div class="heading">Quản lý website</div>
          <div class="py-2 pl-2">
            <a href="/quantrivien/quanlydanhmuc"><div
                class="pb-2 cursor-pointer select"
              >Quản lý danh mục</div></a>
            <a href="/quantrivien/quanlytag"><div
                class="pb-2 cursor-pointer"
              >Quản lý tag</div></a>
            <a href="/quantrivien/quanlybaibao"><div
                class="pb-2 cursor-pointer"
              >Quản lý bài viết</div></a>
          </div>
        </div>
        <div>
          <div class="heading">Quản lý người dùng</div>
          <div class="py-2 pl-2">
            <a href="/quantrivien/quanlynguoidung"><div
                class="pb-2 cursor-pointer"
              >Người dùng</div></a>
          </div>
        </div>
      </div>
      <!-- Add categiry managemet Section -->
      <div class="col-12 col-sm-12 col-md-9 col-lg-9">
        <div>
          <div class="text-black mb-3">Tìm kiếm danh mục:</div>
          <div class="input-group" style="width: 100%; max-width: 300px">
            <input
              type="text"
              class="form-control border-0"
              placeholder="Từ khóa"
            />
            <div class="input-group-append">
              <button
                class="input-group-text bg-primary text-dark border-0 px-3"
              >
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="mt-4 mb-3 d-flex justify-content-end">
          <button class="btn btn-primary font-weight-bold px-3">
            Thêm danh mục
          </button>
        </div>
        <div>
          <table class="table-custom table">
            <thead>
              <tr>
                <th class="text-black">ID</th>
                <th class="text-black">Tên danh mục</th>
                <th class="text-black">Hành động</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Chính trị</td>
                <td class="action-buttons">
                  <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                  <button class="btn btn-sm btn-danger">Xóa</button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>Kinh doanh</td>
                <td class="action-buttons">
                  <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                  <button class="btn btn-sm btn-danger">Xóa</button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>Doanh nghiệp</td>
                <td class="action-buttons">
                  <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                  <button class="btn btn-sm btn-danger">Xóa</button>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>Sức khỏe</td>
                <td class="action-buttons">
                  <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                  <button class="btn btn-sm btn-danger">Xóa</button>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>Giáo dục</td>
                <td class="action-buttons">
                  <button class="btn btn-sm btn-primary">Chỉnh sửa</button>
                  <button class="btn btn-sm btn-danger">Xóa</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>